@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/fonts/MyCustomFont.woff2') format('woff2'),
         url('./assets/fonts/MyCustomFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

  .rounded-image {
    width: 100px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    border-radius: 50%; /* This will make the image round */
    object-fit: cover; /* This ensures the image covers the entire area */
  }
  